:root {
  // *** FONT FAMILY *** //
  --font-family-primary: "Montserrat", "sans-serif";

  // *** FONT WEIGHT *** //
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;


  // Background
  --bgColor-Card: linear-gradient(150deg, #39ef74, #4600f1 100%);
}
